<h2 class="text-center text-info">&commat;@User.Username</h2>
<h2 class="text-center text-info">(@User.Info)</h2>
<table class="table">
    <thead>
        <tr class="d-flex">
            <th class="col-sm-1" scope="col">#</th>
            <th class="col-sm-7" scope="col">Title</th>
            <th class="col-sm-2" scope="col">Author</th>
            <th class="col-sm-2" scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        @for(var i = 0;i < Model.Count();i++)
        {
            {var item = Model[i];}
            {var number = i + 1;}
            <tr class="d-flex">
                <th class="col-sm-1" scope="row">@number</th>
                <td class="col-sm-7">@item.Title</td>
                <td class="col-sm-2">@item.Author</td>
                <td class="col-sm-2"><a href="/tubes/details?id=@item.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>