<div class="jumbotron jumbotron-fluid bg-success">
    <div style="display: {{{noLogin}}}">
        <div class="container-fluid">
            <h1 class="text-white">Welcome to IRunes</h1>
            <hr class="bg-white" style="height: 1.5px" />
            <h5 class="text-white"><a class="text-warning" href="/home/login">Login</a> if you have an account.</h5>
            <h5 class="text-white"><a class="text-warning" href="/home/register">Register</a> if you don`t.</h5>
        </div>
    </div>

    <div style="display: {{{login}}}">
        <div class="container-fluid text-white">
            <p style="display: {{{loginIndexPage}}}">
                <h2 class="text-white">Welcome, <span class="text-warning">{{{username}}}</span></h2>
            </p>
            <hr class="bg-white" style="height: 1.5px" />
            <p class="text-white">
                <h3>IRuners wishes you a fun experiance.</h3>
            </p>
        </div>
    </div>
</div>