<h1>{{this.name}}</h1>
<img class="cube" src="{{this.image}}">
<div class="details">
  <p><span>Description:</span> {{this.description}}</p>
  <p><span>Difficulty level:</span> {{this.difficulty}}</p>
  <button><a href="/">Back</a></button>
</div>
