@{
    ViewData["Title"] = "Home Page";
}


<div class="p-2 mt-5 mx-auto">
    <div class="row justify-context-center text-center mx-auto">
        <div class="col-lg-6 mx-auto">
            <form role="search" method="post" class="form search-form" action="#">
                <div class="input-group">
                    <input name="s" type="text" class="form-control" placeholder="Search in this site">
                    <span class="input-group-btn ">
                        <button type="submit" value="Search" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>