<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <div><strong>Track Name: {{{nameTrack}}}</strong></div>
            <div> <strong>Track Price: {{{priceTrack}}}</strong></div>
            <hr style="height:2px" class="bg-success" />
        </div>
        <div class="col-lg-8">
            <iframe class="embed-responsive" frameborder="1" height="350" src="{{{srcFrame}}}"></iframe>
        </div>
        <div class="col-lg-8">
            <hr class="bg-success" style="height: 1.5px" />
            <div class="row text-center">
                <div class="col-lg-12">
                    <a class="btn btn-success" href="/albums/details?id={{{albumId}}}" role="button">Back to Album</a>
                </div>
            </div>
        </div>
    </div>
</div>