@if(User.IsLoggedIn)
{
<hr class="my-5">
<div class="jumbotron">
    <h1>Welcome,$@User.Username</h1>
    <hr class="my-2">
    <p>Fluffy Duffy Munchkin Cats wishesh you a cute and awesome experince</p>
</div>
}
@else
{
<hr class="my-5">
<div class="jumbotron">
    <h1>Welcome to Fluffy Duffy Munchkin Cats</h1>
    <p>The simplest, cutest, most reliable website for trading cats.</p>
    <hr class="my-2">
    <p><a href="/users/login">Login</a> to trade or <a href="/users/register">Register</a> if you don't have an account.</p>
</div>
}
