@model CategoryCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mt-3 mb-5">Create Category</h1>
<div asp-validation-summary="All" class="text-danger text-center"></div>
<div class="row justify-content-center">
    <div class="col-lg-4 text-center">
        <hr />
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Category</label>
                <input class="form-control" asp-for="Name" />
            </div>
            <input type="submit" class="btn bg-color" value="Create"/>
        </form>
        <hr />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}