@using Microsoft.AspNetCore.Identity
@using Chushka.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="navbar-brand nav-link-white" href="/">CHUSHKA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav right-side">
            <li class="nav-item">
                <a class="nav-link nav-link-white" href="/">Home</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link nav-link-white" href="/products/create">Create Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white" href="/orders/all">All Orders</a>
                </li>
            }
        </ul>
        <ul class="navbar-nav left-side">
            <li class="nav-item">
                <a class="nav-link nav-link-white" href="/account/logout">Logout</a>
            </li>
        </ul>
    </div>
}
else
{
    <a class="navbar-brand nav-link-white" href="/">CHUSHKA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav right-side">
        <li class="nav-item">
            <a class="nav-link nav-link-white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white" href="/account/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white" href="/account/register">Register</a>
        </li>
    </ul>
}