@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center">Login</h1>
<hr class="hr-bg-color w-25 hr-2" />

<div asp-validation-summary="All" class="text-danger text-center"></div>

<form class="mx-auto w-25" method="post" asp-area="Identity" asp-page="/Account/Login">
    <div class="form-group text-center">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" class="form-control bg-color-input" placeholder="Username...">
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control bg-color-input" placeholder="Password...">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    @*<hr class="hr-bg-color w-100 hr-2" />
        <div class="form-group text-center">
            <input asp-for="Input.RememberMe">
            <label asp-for="Input.RememberMe"></label>
        </div>
        <hr class="hr-bg-color w-100 hr-2" />*@
    <div class="button-holder d-flex justify-content-center mb-3">
        <button type="submit" class="btn eventures-bg-color">Login</button>
    </div>
    <div class="form-group text-center">
        <p>
            <a href="#" class="text-primary">Forgot your password?</a>
        </p>
        <p>
            <a asp-controller="Account" asp-action="Register" class="text-primary">Register as a new user</a>
        </p>
    </div>
</form>

@{
    if ((Model.ExternalLogins?.Count ?? 0) != 0)
    {
        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mx-auto w-25">
            <hr class="hr-bg-color w-100 hr-2" />
            <div class="button-holder d-flex justify-content-center mb-3">

                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="btn eventures-bg-color text-center" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }

            </div>
            <hr class="hr-bg-color w-100 hr-2" />
        </form>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
